<div class="prose">
  <p>
    <p>We just sent you instructions for resetting your password to your email address.</p>
  </p>
  <p>
    Just remembered your password?
    <%= link("Log in here", to: Routes.session_path(@conn, :new)) %>
  </p>
</div>
