<.header>
  Password Reset Instructions Sent
</.header>

<p>We just sent you instructions for resetting your password to your email address.</p>
<p class="mt-6">
  Just remembered your password? <.link href={~p"/login"}>Log in here</.link>.
</p>

<.back navigate={~p"/"}>Back to root</.back>
