<main class="flex justify-center grow bg-gray-100 p-4 bg-gradient-to-t from-white to-gray-50">
  <section class="flex flex-col justify-start grow container">
    <%= render("_flash_success.html", conn: @conn) %>
    <%= render("_flash_info.html", conn: @conn) %>
    <%= render("_flash_error.html", conn: @conn) %>
    <%= @inner_content %>
  </section>
</main>
