<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MyApp", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%= if Application.get_env(:my_app, :plausible_tracking)[:enabled] do %>
      <script async defer data-domain="<%= Application.get_env(:my_app, :plausible_tracking)[:domain] %>" src="<%= Application.get_env(:my_app, :plausible_tracking)[:script] %>"></script>
    <% end %>
  </head>
  <body class="flex flex-col justify-evenly max-h-full">
    <header class="flex justify-center border-b-2 border-indigo-500 text-indigo-800 p-4">
      <section class="container">
        <nav>
          <ul class="flex flex-row space-x-2">
            <li><%= link gettext("Home"), to: Routes.page_path(@conn, :index) %></li>
            <%= if @conn.assigns[:current_user] do %>
              <li><%= link gettext("Profile"), to: Routes.profile_path(@conn, :show) %></li>
              <li><%= link gettext("Logout"), to: Routes.session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li><%= link gettext("Login"), to: Routes.session_path(@conn, :new) %></li>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
